/* 未完成 */

body{
    font-family: 'Arial', sans-serif;
    background-color: #fff9e1;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFD679; /* 淡いオレンジ色 */
    color: #4F4F4F; /* ダークグレイ */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.header-center {
    flex: 1;
    text-align: center;
}
.header-left a,
.header-right {
    color: #4F4F4F;
    text-decoration: none;
    transition: opacity 0.3s;
}
.header-left a:hover {
    opacity: 0.7;
}


/* 名前、日付、ラジオボタン、送信ボタンまでの大枠 */
.registration-content{
background-color: #ffffff;
color: #4F4F4F;
text-align: center;
width: 100%;
max-width: 600px;
margin: auto;
border-radius: 50px;
margin-top: 50px;
border: 1px;
padding: 10px;

}

/* ボタンの大きさ変更と余白追加 */
.attendance-details label {
    display: flex;
    justify-content: center;
    font-size: 16px; 
}

.attendance-details input[type="radio"] {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
    flex-shrink: 0; 
    border-radius: 50%;
}

.attendance-details input[type="radio"][value="2"] {
    margin-bottom: 30px;
}
.submit-button{
    margin-bottom: 20px;
}



/* 出欠履歴 */
h3{
    text-align: center;
    color: #4F4F4F;
}
.pagination{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #4F4F4F;
}
.pagination-item{
    flex: 1;
    text-align: center;
    /* color: #4F4F4F; */

}
.pagination-item a{
    font-size: 20px;
    padding: 10px 20px;
    color: #4F4F4F;
    
}

/* 出席履歴のテーブル */
table{
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #FEEEB3;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

tr:hover {
    background-color: #f5f5f5;
}

td a {
    text-decoration: none;
    color: #0072B5;
    transition: color 0.3s;
}

.pagination {
    width: 30vw;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pagination a {
    text-decoration: none;
    /* font-weight: bold; */
}

