/* 仮決定 */
/* もし可能なら名前にマウスが言ったときだけ色が変わるように */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color:#c3d7ea ;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    color: #0072B5;
}

table {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}

th{
    background-color: #e0f7fa;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

tr:hover {
    background-color: #f5f5f5;
}

td{
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
    border-top: 1px solid #dddddd;
}

td a {
    text-decoration: none;
    color: #0072B5;
    transition: color 0.3s;
    text-align: center;
}

td a:hover {
    color: #005094;
}

.return_managrment{
    text-align: center;
    text-decoration: none;
    color: #0072B5;
    transition: color 0.3s;
}

.button {
    display: flex;
    justify-content:space-around;
    margin: 30px auto;
}

.back_button {
    margin-right: 120px;
    margin-left: auto;
}

.a_back_button a{
    background: #ffffff;
    margin: 30px auto;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0 #0072B5;
    border-radius: 50px;
    text-decoration: none;
}

.a_back_button a:hover {
  background-color: #b3d9ff;
  box-shadow: 0 0 0;
  transform: translate(5px, 5px);
}

.login_button {
    margin-left: 30px ;
    margin-right: auto;
}

.a_login_button a {
    width: 240px;
    margin: 30px auto;
    background: #e0f7fa;
    position: relative;
    align-items: center;
    max-width: 220px;
    margin: auto;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.a_login_button a:before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fafcfc #fafcfc #c7c7c7 #cbcbcb;
    box-shadow: -1px 1px 2px rgb(0 0 0 / 10%);
}

/* ページネーション部分のスタイル */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination div {
    margin: 0 10px;
}

.pagination a {
    display: inline-block;
    background-color: #e0f7fa;
    padding: 10px 20px;
    border-radius: 30px; /* 角を丸くする */
    color: #0072B5;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* 影をつける */
}

.pagination a:hover {
    background-color: #b3d9ff;
}
